*/.idea/*
.idea/*
utils/bags/*
src/*.pyc
*/cmake-build-debug
geodetic_survey_bags/*.bag

*.pyc

#QT files
*.files
*.includes
*.creator
*.user
*.config

# Logs geodetic surveys
/piksi_multi_rtk_ros/log_surveys/

# KML files.
/kml/*

