<?xml version="1.0"?>

<launch>

  <!-- Bag file (including absolute file path) -->
  <arg name="bagfile"                      default="/home/marco/bags/erl/2017-09-20/gps_erl_2017-09-20-19-08-31.bag"/>
  <!-- Publishing rate multiplier -->
  <arg name="publishing_rate_multiplier"   default="200"/>
  <!-- Use simulation clock -->
  <arg name="use_sim_time"                 default="true"/>

  <!-- simulation time -->
  <param name="/use_sim_time"              value="$(arg use_sim_time)"/>

  <!-- Node to convert Piksi ROS driver output to KML format -->
  <node pkg="piksi_rtk_kml" type="piksi_rtk_kml" name="piksi_rtk_kml" output="screen">
    <!-- Load default settings -->
    <rosparam file="$(find piksi_rtk_kml)/cfg/piksi_rtk_kml_settings.yaml"/>

    <!-- Overwrite default settings, customized for a ground vehicle. -->
    <param name="kml_layout"              value="LineString"/>
    <param name="use_altitude_from_enu"   value="False"/>
    <param name="kml_altitude_mode"       value="clampToGround"/>
  </node>

  <!-- Play rosbag -->
  <node name="play_rosbag" pkg="rosbag" type="play" output="screen"
    args="--clock $(arg bagfile) -r $(arg publishing_rate_multiplier)">
  </node>

</launch>
