<?xml version="1.0"?>

<launch>

  <!-- Node to convert Piksi ROS driver output to KML format -->
  <node pkg="piksi_rtk_kml" type="piksi_rtk_kml" name="piksi_rtk_kml" output="screen">
    <!-- Load default settings -->
    <rosparam file="$(find piksi_rtk_kml)/cfg/piksi_rtk_kml_settings.yaml"/>
  </node>

  <!-- ROS node to read Piksi Multi output -->
  <node pkg="piksi_multi_rtk_ros" type="piksi_multi" name="piksi" output="screen"/>

</launch>
