<library path="lib/librqt_gps_rtk_plugin">
    <class name="GpsRtkPlugin" type="GpsRtkPlugin" base_class_type="rqt_gui_cpp::Plugin">
        <description>
            An rqt plugin to give status information about Piksi GPS RTK.
        </description>
        <qtgui>
            <group>
                <label>Robot Tools</label>
                <icon type="theme">folder</icon>
                <statustip></statustip>
            </group>
            <label>GPS RTK Info</label>
            <icon type="theme">applications-graphics</icon>
            <statustip>An rqt plugin to give status information about Piksi GPS RTK.</statustip>
        </qtgui>
    </class>
</library>
