<launch>
<node name="piksi_status_indicator" pkg="piksi_status_indicator" type="start_status_indicator" output="log" required="true">
      <param name="number_of_leds" value="8" />
  </node>
  <!-- Run Status Indicator Link. -->
  <node name="rosserial_server" pkg="rosserial_server" type="serial_node"
    args="_port:=/dev/arduino _baud:=57600" respawn="false" output="log" required="true" />

</launch>
