<launch>
  <arg name="ns" default="rover" />
  <arg name="device_ids" default="usb://*;tcp://piksi:55555"/> <!-- E.g. "usb://*;tcp://192.168.222.0:55555;serial:///dev/ttyS5@115200" -->

  <!-- The next line allows you to set a predefined ENU frame. -->
  <!--rosparam file="$(find piksi_multi_cpp)/cfg/enu_origin.yaml" /-->
  
  <group ns="$(arg ns)">
    <node name="piksi" pkg="piksi_multi_cpp" type="piksi_multi" output="log" required="true">
        <param name="device_ids" value="$(arg device_ids)" />
        <param name="use_gps_time" value="true" />

        <param name="udp_observation_port"
               value="26078"/> <!-- Port on which UDP broadcasts are received -->

        <!-- Autoset ENU origin to startup position. Otherwise it waits for base station position. -->
        <param name="set_enu_origin_from_current_pos" value="false" />
    </node>
  </group>
</launch>
