<launch>
  <node name="piksi_pushbutton" pkg="piksi_multi_interface" type="pushbutton" output="screen" required="true">
      <param name="rate" value="1000" />
      <!-- Find chip and line with gpiod cli gpiodetect -->
      <param name="chip" value="gpiochip3" />
      <param name="line" value="0" />
  </node>
</launch>
