<launch>
  <node name="piksi_pushbutton" pkg="piksi_multi_interface" type="pushbutton" output="screen" required="true">
    <param name="rate" value="20"/>
    <!-- Find chip and line with gpiod cli gpiodetect -->
    <param name="chip" value="gpiochip3"/>
    <param name="offset" value="0"/>
    <param name="piksi_ns" value="/piksi_multi_cpp_base/base_station_receiver_0"/>
    <!--param name="num_desired_fixes" value="100"/-->
  </node>
</launch>
