<?xml version="1.0"?>

<launch>

  <!-- Piksi. -->
  <node pkg="piksi_v2_rtk_ros" type="piksi.py" name="piksi" output="screen">
    <!-- Load default settings -->
    <rosparam file="$(find piksi_v2_rtk_ros)/cfg/piksi_driver_settings.yaml"/>
  </node>

  <!-- Geodetic Survey. -->
  <node pkg="piksi_rtk_gps" type="geodetic_survey.py" name="geodetic_survey" output="screen">
    <remap from="piksi_v2_rtk_ros" to="piksi/navsatfix_spp"/>
  </node>

</launch>
