<?xml version="1.0"?>

<launch>

  <node pkg="piksi_v2_rtk_ros" type="piksi.py" name="piksi" output="screen">
  	<!-- Load default settings -->
    <rosparam file="$(find piksi_v2_rtk_ros)/cfg/piksi_driver_settings.yaml"/>

    <!-- Overwrtie needed settings -->
    <param name="base_station_mode" value="true"/>
    <param name="broadcast_addr" value="10.10.50.255"/> <!--'ifconfig' to check Bcast -->
  </node>

</launch>
