<?xml version="1.0"?>

<launch>

  <node pkg="piksi_v2_rtk_ros" type="piksi.py" name="piksi" output="screen">
    <!-- Load default settings -->
    <rosparam file="$(find piksi_v2_rtk_ros)/cfg/piksi_driver_settings.yaml"/>

    <!-- Overwrite needed settings -->
    <param name="base_station_mode" value="false"/>
    <param name="base_station_ip_for_latency_estimation" value="10.10.50.1"/>
  </node>

</launch>
