<launch>

  <arg name="node_name"       value="RTK_INFO_plugin"/>

  <!-- Load parameters -->
  <rosparam command="load" ns="$(arg node_name)" file="$(find rqt_gps_rtk_plugin)/config/parameters.yaml"/>

  <!-- Launch node -->
  <node name="$(arg node_name)" pkg="rqt_gps_rtk_plugin" type="rqt_gps_rtk_plugin" output="screen">
  </node>

</launch>
