<?xml version="1.0"?>

<launch>

  <node pkg="piksi_multi_rtk_gps" type="piksi_multi.py" name="piksi_multi" output="screen">
    <!-- Load default settings -->
    <rosparam file="$(find piksi_multi_rtk_gps)/cfg/piksi_multi_driver_settings.yaml"/>

    <!-- Overwrtie needed settings -->
    <param name="base_station_mode" value="false"/>
    <param name="base_station_ip_for_latency_estimation" value="10.10.10.1"/>
  </node>

</launch>
